@media screen and (min-width:300px) and (max-width:480px) {

  .container{
  justify-content: center;
  gap: 16px;
  padding: 4px;
  display: grid;
  grid-template-columns: 85%;
  grid-template-rows: 50px 480px 180px 60px;
    grid-template-areas: "header header"
                        "main main"
                        "sidenav sidenav"
                        "section section"
                        "footer footer";
  }
  
}

@media screen and (min-width:481px) and (max-width:767px) {

  .container{
    justify-content: center;
  padding: 8px;
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 50px 480px 180px 60px;
    grid-template-areas: "header header"
                        "main main"
                        "sidenav sidenav"
                        "section section"
                        "footer footer";
  }
  
}

@media screen and (min-width:768px) and (max-width:1024px) {

  .container{
    justify-content: center;
  padding: 8px;
  display: grid;
  gap: 14px;
  grid-template-columns: 20% 75%;
  grid-template-rows: 60px 580px 160px 60px;
    grid-template-areas: "header header"
                        "sidenav main"
                        "section section"
                        "footer footer";
  }
  
}

@media screen and (min-width:1025px) and (max-width:1280px) {

  .container{
    justify-content: center;
  padding: 8px;
  display: grid;
  gap: 14px;
  grid-template-columns: 20% 75%;
  grid-template-rows: 60px 580px 160px 60px;
    grid-template-areas: "header header"
                        "sidenav main"
                        "section section"
                        "footer footer";
  }
  
}

@media screen and (min-width:1280px) {

  .container{
    justify-content: center;
  padding: 8px;
  display: grid;
  gap: 14px;
  grid-template-columns: 20% 75%;
  grid-template-rows: 60px 580px 160px 60px;
    grid-template-areas: "header header"
                        "sidenav main"
                        "section section"
                        "footer footer";
  }
  
}

