*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

.container{
  
  padding: 8px;
  display: grid;
  grid-template-columns: 30% 65%;
  grid-template-rows: 80px 680px 160px 60px;
  grid-template-areas: "header header"
                        "sidenav main"
                        "section section"
                        "footer footer";
  
  gap: 0.8rem;
  
  
}

.header{
  grid-area: header;
  background-color:rgba(137, 43, 226, 0.247);
  align-items: center;
  align-content: center;
  padding: 0px 8px;

  .headercontainer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;  
    
  }

  .hfilhos img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 8px;

  }

  .nav{
    padding: 0rem;
    align-items: center;

    ol{
      display: flex;
      
      gap: 1rem;
      list-style: none;
      padding: 8px;
      height: 60px;
     text-align: center;
      align-items: center;
    }

    li{
      background-color: black;
      padding: 0.5rem;
      border-radius: 8px;
      
      a{
        color: antiquewhite;
        text-decoration: none;
          
      }
    }

  }
  
  
}

.sidenav{
  grid-area: sidenav;
  background-color: antiquewhite;
}

.main{
  grid-area: main;
  background-color: antiquewhite;

}

.section{
  grid-area: section;
  background-color: antiquewhite;
}

.footer{
  grid-area: footer;
  padding: 20px;
  background-color:antiquewhite;

}

