*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(137, 43, 226, 0);
  border-radius: 5px;
}

.container{
  justify-content: center;
  padding: 24px;
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: 60px 280px 160px 60px;
  grid-template-areas: "header header"
                        "sidenav main"
                        "section section"
                        "footer footer";
  
  gap: 30px;
  text-align: center;
  
  
}
.header{
  grid-area: header;
  background-color:rgba(32, 13, 242, 0.866);
  
  
}

.sidenav{
  grid-area: sidenav;
  background-color: antiquewhite;
  
  
}

.main{
  grid-area: main;
  background-color: antiquewhite;

}
.section{
  grid-area: section;
  background-color: antiquewhite;
}
.footer{
  grid-area: footer;
  padding: 20px;
  background-color:antiquewhite;

}