*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    
  
}

.container{
  background-color: black;
  justify-content: center;
  display: grid;
  grid-template-columns: 33% 65%;
  grid-template-rows: 80px auto 160px 60px;
  grid-template-areas: "header header"
                        "sidenav main"
                        "section section"
                        "footer footer";
  
  gap: 0.8rem;
  
  
}

.header{
  background-image: url(./image/backgroud.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center ;
  display: inline-block;
  position: fixed;
  width: 100%;
  grid-area: header;
 
  align-items: center;
  align-content: center;
  padding: 0px 8px;

  .headercontainer{
    display: flex;
    
    justify-content: space-between;
    align-content: center;
    text-align: center;  
    
  }

  .hfilhos img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 8px;
  

  }

  .nav{
    padding: 0rem;
    align-items: center;

    ol{
      display: flex;
      
      gap: 1rem;
      list-style: none;
      padding: 8px;
      height: 60px;
     text-align: center;
      align-items: center;
    }

    li{
      background-color: black;
      padding: 0.5rem;
      border-radius: 8px;
      
      a{
        color: antiquewhite;
        text-decoration: none;
          
      }
    }

  }
  
  
}

.sidenav{
  grid-area: sidenav;
  color: antiquewhite;
  gap: 10px;
  

  .sidcontainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: antiquewhite;
      gap: 10px;
      
      
      h1{
        font-size: 20px;
        background-color: red;
        padding: 8px;
        
        border-radius: 10px;
        text-align: center;
      }
      span{
        font-size: 28px;
        color: black;
      }
  }

  .siditem{
    display: flex;
    align-items: center;/*mecher aqui na responsividade*/
    flex-direction: row;/*mecher aqui na responsividade*/
    flex-wrap: nowrap;/*mecher aqui na responsividade*/
    color:antiquewhite;
    padding: 10px;
    gap: 1rem;
    span{
        font-size: 24px;
        font-weight: bold;
        color: red;
      }
    
    
    
    img{
      min-width: 300px; /*mecher aqui na responsividade para px*/
      max-height: 200px; /*mecher aqui na responsividade para px*/
      border-radius: 100px 10px 10px 10px;
    }
    
    p{
      font-size: 20px;
    }

    a{
      text-decoration: none;
      color:red ;
      background-color: rgb(250, 235, 215);
      border-radius: 4px;
      padding: 1px;

    }
    
  }
}

.main{
  grid-area: main;
  background-color: antiquewhite;

}

.section{
  grid-area: section;
  background-color: antiquewhite;
}

.footer{
  grid-area: footer;
  padding: 20px;
  background-color:antiquewhite;

}

